<% errors.forEach(err => { %>
    <div class="alert alert-danger text-center small"><%= err %></div>
<% }); %>

<% success.forEach(err => { %>
    <div class="alert alert-success text-center"><%= err %></div>
<% }); %>